html,
body {
  background-color: #fff7f8;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.all-habits-habit-completed {
  border-radius: 25px;
  border-style: inset;
  border-width: thin;
  margin-top: 10px;
  background-color: #a1e5ab;
  color: black;
}

.all-habits-habit {
  /* color: red; */
  border-radius: 25px;
  border-style: inset;
  border-width: thin;
  margin-top: 10px;
  background-color: #5aa9e6;
}

[class^="leaderboard-habit"] {
  /* color: red; */
  border-radius: 25px;
  border-style: inset;
  border-width: thin;
  margin-top: 10px;
  background-color: #e2e1df;
}

[class^="leaderboard-habit"][class$="1"] {
  border-radius: 25px;
  border-style: inset;
  border-width: thin;
  margin-top: 10px;
  background-color: #e2e1df;
}

.all-habits-container {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.leaderboard-container {
  display: block;
  width: 50%;
  margin: 0 auto;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}
