.App-NavbarItems {
	background-color:#F6866E;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2rem;
}

.App-NavMenu {
   	top: 0px;	
	margin-bottom: 2em;
	background-color: #555B6E;
}
.navbar-light .navbar-brand{
	color: #FAF9F9; 
}

.navbar-brand {
	font-size: xx-large;
	font-weight: 500;
}
.navbar-brand:hover {
	color: #FAF9F9 !important; 
}
.nav-links:hover {
	margin: 0 !important; 
	background-color: #89B0AE;
	border-radius: 4px;
	transition: all 0.2s ease-out;
}

.nav-links a{
	text-decoration: none;
	color: #FAF9F9; 
	font-size: 16px;
	width: 100%;
	display: flex;
	align-items: center;
	margin-left: 5px; 
	margin-right: 5px; 
	border-radius: 4px;
}
